input.hours {
    width: 3em;
}

input.slider {
    width: 12em;
    height: 2em;
}

.pickphoneinput {
    margin-left: unset;
    width: 90%;
    margin-top: 2px;
  }
  .pickphone {
    margin-top: 0.8rem;
  }